clienteWCFPago/Connected Services/wcfPago2/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:61835/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:61835/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:61835/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/wcfPago1" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_obtenerPago_InputMessage">
    <wsdl:part name="parameters" element="tns:obtenerPago" />
  </wsdl:message>
  <wsdl:message name="IService1_obtenerPago_OutputMessage">
    <wsdl:part name="parameters" element="tns:obtenerPagoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_obtenerPago2_InputMessage">
    <wsdl:part name="parameters" element="tns:obtenerPago2" />
  </wsdl:message>
  <wsdl:message name="IService1_obtenerPago2_OutputMessage">
    <wsdl:part name="parameters" element="tns:obtenerPago2Response" />
  </wsdl:message>
  <wsdl:message name="IService1_obtenerPersona_InputMessage">
    <wsdl:part name="parameters" element="tns:obtenerPersona" />
  </wsdl:message>
  <wsdl:message name="IService1_obtenerPersona_OutputMessage">
    <wsdl:part name="parameters" element="tns:obtenerPersonaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_obtenerPersonaConCI_InputMessage">
    <wsdl:part name="parameters" element="tns:obtenerPersonaConCI" />
  </wsdl:message>
  <wsdl:message name="IService1_obtenerPersonaConCI_OutputMessage">
    <wsdl:part name="parameters" element="tns:obtenerPersonaConCIResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_obtenerAranceles_InputMessage">
    <wsdl:part name="parameters" element="tns:obtenerAranceles" />
  </wsdl:message>
  <wsdl:message name="IService1_obtenerAranceles_OutputMessage">
    <wsdl:part name="parameters" element="tns:obtenerArancelesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_obtenerMatricula_InputMessage">
    <wsdl:part name="parameters" element="tns:obtenerMatricula" />
  </wsdl:message>
  <wsdl:message name="IService1_obtenerMatricula_OutputMessage">
    <wsdl:part name="parameters" element="tns:obtenerMatriculaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_obtenerFactor_InputMessage">
    <wsdl:part name="parameters" element="tns:obtenerFactor" />
  </wsdl:message>
  <wsdl:message name="IService1_obtenerFactor_OutputMessage">
    <wsdl:part name="parameters" element="tns:obtenerFactorResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_crearPago_InputMessage">
    <wsdl:part name="parameters" element="tns:crearPago" />
  </wsdl:message>
  <wsdl:message name="IService1_crearPago_OutputMessage">
    <wsdl:part name="parameters" element="tns:crearPagoResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="obtenerPago">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/obtenerPago" message="tns:IService1_obtenerPago_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/obtenerPagoResponse" message="tns:IService1_obtenerPago_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="obtenerPago2">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/obtenerPago2" message="tns:IService1_obtenerPago2_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/obtenerPago2Response" message="tns:IService1_obtenerPago2_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="obtenerPersona">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/obtenerPersona" message="tns:IService1_obtenerPersona_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/obtenerPersonaResponse" message="tns:IService1_obtenerPersona_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="obtenerPersonaConCI">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/obtenerPersonaConCI" message="tns:IService1_obtenerPersonaConCI_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/obtenerPersonaConCIResponse" message="tns:IService1_obtenerPersonaConCI_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="obtenerAranceles">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/obtenerAranceles" message="tns:IService1_obtenerAranceles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/obtenerArancelesResponse" message="tns:IService1_obtenerAranceles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="obtenerMatricula">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/obtenerMatricula" message="tns:IService1_obtenerMatricula_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/obtenerMatriculaResponse" message="tns:IService1_obtenerMatricula_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="obtenerFactor">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/obtenerFactor" message="tns:IService1_obtenerFactor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/obtenerFactorResponse" message="tns:IService1_obtenerFactor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="crearPago">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/crearPago" message="tns:IService1_crearPago_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/crearPagoResponse" message="tns:IService1_crearPago_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="obtenerPago">
      <soap:operation soapAction="http://tempuri.org/IService1/obtenerPago" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerPago2">
      <soap:operation soapAction="http://tempuri.org/IService1/obtenerPago2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerPersona">
      <soap:operation soapAction="http://tempuri.org/IService1/obtenerPersona" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerPersonaConCI">
      <soap:operation soapAction="http://tempuri.org/IService1/obtenerPersonaConCI" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerAranceles">
      <soap:operation soapAction="http://tempuri.org/IService1/obtenerAranceles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerMatricula">
      <soap:operation soapAction="http://tempuri.org/IService1/obtenerMatricula" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerFactor">
      <soap:operation soapAction="http://tempuri.org/IService1/obtenerFactor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="crearPago">
      <soap:operation soapAction="http://tempuri.org/IService1/crearPago" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:61835/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>