proyecto02_EduardoR_BryanS/Connected Services/wcfPago2/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:61835/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/wcfPago1" />
  <xs:element name="obtenerPago">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerPagoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/wcfPago1" minOccurs="0" name="obtenerPagoResult" nillable="true" type="q1:tbl_Pago" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerPago2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerPago2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/wcfPago1" minOccurs="0" name="obtenerPago2Result" nillable="true" type="q2:tbl_Pago" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerPersona">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cedula" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerPersonaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/wcfPago1" minOccurs="0" name="obtenerPersonaResult" nillable="true" type="q3:tbl_Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerPersonaConCI">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerPersonaConCIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/wcfPago1" minOccurs="0" name="obtenerPersonaConCIResult" nillable="true" type="q4:tbl_Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerArancel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="quintil" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerArancelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/wcfPago1" minOccurs="0" name="obtenerArancelResult" nillable="true" type="q5:quintilx" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerAranceles">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="personaQuintil" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerArancelesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="obtenerArancelesResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerMatricula">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="personaQuintil" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerMatriculaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="obtenerMatriculaResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerFactor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="personaQuintil" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerFactorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="obtenerFactorResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="crearPago">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="creditos1ra" type="xs:int" />
        <xs:element minOccurs="0" name="creditos2da" type="xs:int" />
        <xs:element minOccurs="0" name="creditos3ra" type="xs:int" />
        <xs:element minOccurs="0" name="factor" type="xs:double" />
        <xs:element minOccurs="0" name="valorMatricula" type="xs:double" />
        <xs:element minOccurs="0" name="valorArancel" type="xs:double" />
        <xs:element minOccurs="0" name="recargoRep2da" type="xs:double" />
        <xs:element minOccurs="0" name="recargaRep3ra" type="xs:double" />
        <xs:element minOccurs="0" name="fepon" type="xs:double" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="crearPagoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="crearPagoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>