proyecto02_EduardoR_BryanS/Connected Services/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/wcfPago1" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/wcfPago1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="tbl_Pago">
    <xs:sequence>
      <xs:element minOccurs="0" name="adicionales" type="xs:double" />
      <xs:element minOccurs="0" name="bancario" type="xs:double" />
      <xs:element minOccurs="0" name="creditos1ra" type="xs:int" />
      <xs:element minOccurs="0" name="creditos2da" type="xs:int" />
      <xs:element minOccurs="0" name="creditos3ra" type="xs:int" />
      <xs:element minOccurs="0" name="factor" type="xs:double" />
      <xs:element minOccurs="0" name="fepon" type="xs:double" />
      <xs:element minOccurs="0" name="idPago" type="xs:int" />
      <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="recargoRep2da" type="xs:double" />
      <xs:element minOccurs="0" name="recargoRep3ra" type="xs:double" />
      <xs:element minOccurs="0" name="valorApagar" type="xs:double" />
      <xs:element minOccurs="0" name="valorArancel" type="xs:double" />
      <xs:element minOccurs="0" name="valorMatricula" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="tbl_Pago" nillable="true" type="tns:tbl_Pago" />
  <xs:complexType name="tbl_Usuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="apellido1Usuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="apellido2Usuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="contrasena" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="nombre1Usuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombre2Usuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="numeroCedula" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="quintil" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="tbl_Usuario" nillable="true" type="tns:tbl_Usuario" />
</xs:schema>